@import "tailwindcss";
@font-face {
    font-family: a4;
    src: url('./assets/fonts/a4.woff2');
}
@font-face {
    font-family: u4;
    src: url('./assets/fonts/u4.woff2');
}
@font-face {
    font-family: u7;
    src: url('./assets/fonts/u7.woff2');
}
@font-face {
    font-family: u8;
    src: url('./assets/fonts/u8.woff2');
}

span{
    display: inline-block;
}
